body {
    width: 100%;
    height: 150vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #FFA384;
}

.main{
    width: 78%;
    display: grid;
    grid-template-areas: 
    "nav nav nav nav"
    "articles articles articles article"
    "footer footer footer footer";
    grid-template-rows: 1fr 1fr 10fr 1fr;
    grid-template-columns: 10fr;
}

.main__nav--general{
    grid-area: nav;
    display: flex;
    flex-direction: row;
    /* border: 1px solid fuchsia; */
    justify-content: space-between;
    align-items: center;
    margin-top: 1.875rem;
    padding-top: 1.125rem;
    width: 100%;
    margin-bottom: 1.875rem;
    padding-bottom: 1.875rem;
}

.main__title{
    /* border: 2px purple solid; */
    max-width: min-content;
    font-family: 'Erica One', sans-serif;
    font-size: 10rem;
    margin: 0;
    line-height: 8.125rem;
}

.main__title a{
    text-decoration: none;
    color: #543855;
}

/*NAV MENU*/

.main__nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-end;
    height: 12.5rem;
    margin-right: 1.875rem;
}

.main__ul{
    width: 60%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    /* border: 1px solid forestgreen; */
    
}

.main__ul--li{
    /* border: 1px solid red; */
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    font-size: 1.563rem;
    padding-top: 0.563rem;
    padding-bottom: 0.563rem;
    align-self: self-end;
    letter-spacing: 0.188rem;
}

.main__ul--li a{
    text-decoration: none;
}

.main__ul--li a:hover {
    font-weight: 900;
}

/*FOOTER*/
footer{
    grid-area: footer;
    /* border: 2px olivedrab solid;  */
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 5rem;
    height: 100%;
    width: 100%;
    margin-top: 0.625rem;
    margin-bottom: 1.875rem;
}

.footer__ul{
    width: 13%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin-right: 5%;
}

.footer__ul li{
    list-style-type: none;
}

.footer__ul-contacts{
    color: #543855;
    font-size: 2.188rem;
    padding-right: 0.5rem;
    
}

.footer__ul-contacts:hover{
    color: purple;
}

/*ARTICLES*/
.culture__body{
    width: 80%;
    /* border: 2px darkcyan solid; */
    justify-self: center;
    margin-top: 2.5rem;
}

.culture__articles{
    border: 2px solid #E88D72;
    margin: 0.313rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    border-radius: 10px;
}

.culture__articles__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.culture__articles__pic{
    display: blocK;
    width: 18.75rem;
    height: 14.375rem;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 0.625rem;
}

.culture__articles__title{
    margin: 0;
    padding-bottom: 1.25rem;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    color: #543855;
    text-align: center;
    padding-top: 0.938rem;
}

.culture__articles__description{
        /* border: 2px solid green; */
        margin: 0;
        font-family: 'Questrial', sans-serif;
        color: #543855;
        font-size: 1.25rem;
        text-align: center;
        height: max-content;
}

.culture__articles a{
    text-decoration: none;
}

@media screen and (max-width: 1547px){
    .culture__articles{
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width: 1110px){
    .culture__articles{
        grid-template-columns: repeat(1, auto);
    }
}

@media screen and (max-width: 871px){
    .main__nav--general{
        flex-direction: column;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .main__nav{
        width: 70%;
        margin: 0;
        align-items: center;
    }

    .main__ul{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }

    .culture__body{
        margin: 0;
    }

    .footer__ul-contacts{
        font-size: 3rem; 
    }
}

@media screen and (max-width: 610px){
    .main__title{
        font-size: 8rem;
        line-height: 7rem;
    }

    .main__nav{
        width: 90%;
    }
}

@media screen and (max-width: 546px){
    .main{
        width: 100%;
    }
    .main__nav{
        width: 80%;
    }
}

@media screen and (max-width: 446px){
    .main__title{
        font-size: 7rem;
        line-height: 6rem;
    }
}


@media screen and (max-width: 416px){
    .main__title{
        font-size: 6rem;
        line-height: 5rem;
    }

    .main__nav{
        width: 100%;
        padding-top: 0.5rem;
    }

    .culture__body{
        width: 100%;
    }

    .main__ul{
        
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(4, auto);
        justify-content: center;
    }
    .main__ul--li{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


}

@media screen and (max-width: 300px){
    .main__title{
        font-size: 5rem;
        line-height: 4rem;
    }
}