
@import "/styles/culture.css";

.health__body{
    width: 80%;
    /* border: 2px darkcyan solid; */
    justify-self: center;
    margin-top: 2.5rem;
}

.health__articles{
    border: 2px solid #E88D72;
    margin: 0.313rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    border-radius: 10px;
}

.health__articles a{
    text-decoration: none;
}

@media screen and (max-width: 1547px){
    .health__articles{
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width: 1110px){
    .health__articles{
        grid-template-columns: repeat(1, auto);
    }
}

@media screen and (max-width: 871px){

    .health__body{
        margin: 0;
    }
}



@media screen and (max-width: 413px){

    .health__body{
        width: 100%;
    }

}