@import "/styles/culture.css";




.article__body{
    width: 90%;
    /* border: 2px darkcyan solid;  */
    justify-content: center;
    margin-top: 2.5rem;
}

.article__articles{
    border: 2px solid #E88D72;
    margin: 0.313rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.article__styling{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*IMAGE*/
.article__image{
    width: 60%;
    height: 40%;
    object-fit: cover;
    margin-top: 5%; 
    border-radius: 10px;
}

/*TEXT*/

.article__title{
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    color: #543855;
    text-align: center;
    font-size: 2rem;
    max-width: 50%;
}

.article__text{
    max-width: 70%;
    font-family: 'Questrial', sans-serif;
    color: #543855;
    font-size: 1.4rem;
    text-align: justify;
    height: max-content;  
}

.article__author, .article__source{
    font-family: 'Questrial', sans-serif;
    color: #543855;
    font-size: 1.25rem;
}
