body{
    background-color: #FFA384;
}

.main{
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 20px auto 20px auto;
        grid-template-areas: 
    "nav articles"
    "nav articles"
    "footer footer";
    -ms-grid-columns: 1fr 20px 4fr;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
}

.main__nav--general{
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: nav;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* border: 1px solid fuchsia; */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 400px;
    margin-top: 30%;
    margin-left: 10%;
}

.main__title{
    /* border: 2px purple solid; */
    max-width: min-content;
    font-family: 'Erica One', sans-serif;
    font-size: 5rem;
    margin: 0;
    line-height: 5rem;
}

.main__title a{
    text-decoration: none;
    color: #543855;
}

/*NAV MENU*/

.main__nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: self-end;
        -ms-flex-align: self-end;
            align-items: self-end;
    height: 12.5rem;
    margin-right: 1.875rem;
}

.main__ul{
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
    /* border: 1px solid forestgreen; */
    
}

.main__ul--li{
    /* border: 1px solid red; */
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    font-size: 1.563rem;
    padding-top: 0.563rem;
    padding-bottom: 0.563rem;
    letter-spacing: 0.188rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.main__ul--li a{
    text-decoration: none;
}

.main__ul--li a:hover {
    font-weight: 900;
}

/*ARTICLES*/

.article__body{
    width: 100%;
    /* border: 2px darkcyan solid;  */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2.5rem;
    margin-right: 40px;
}

.article__articles{
    border: 2px solid #E88D72;
    margin: 0.313rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
}

.article__styling{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.container{
    grid-area: articles;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


/*IMAGE*/
.article__image{
    width: 60%;
    height: 40%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 5%; 
    border-radius: 10px;
}

/*TEXT*/

.article__title{
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    color: #543855;
    text-align: center;
    font-size: 2rem;
    max-width: 50%;
}

.article__text{
    max-width: 70%;
    font-family: 'Questrial', sans-serif;
    color: #543855;
    font-size: 1.5rem;
    text-align: justify;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;  
    line-height: 35px;
}

.article__author, .article__source{
    font-family: 'Questrial', sans-serif;
    color: #543855;
    font-size: 1.25rem;
}


/*FOOTER*/
footer{
    grid-area: footer;
    /* border: 2px olivedrab solid;  */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-height: 5rem;
    height: 100%;
    width: 100%;
    margin-top: 0.625rem;
    margin-bottom: 1.875rem;
}

.footer__ul{
    width: 13%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    
}

.footer__ul li{
    list-style-type: none;
}

.footer__ul-contacts{
    color: #543855;
    font-size: 3rem;
    padding-right: 0.5rem;
    
}

.footer__ul-contacts:hover{
    color: purple;
}

@media screen and (max-width: 1528px){
    .article__title{
        font-size: 1.7rem;
    }

    .article__text{
        font-size: 1.7rem;
    }

    .footer__ul{
        padding-right: 3%;
    }

    .article__body{
        margin-right: 20px;
    }
}

@media screen and (max-width: 1204px){

    .main__title{
        font-size: 4rem;
        line-height: 4rem;
    }

    .main__nav--general{
        height: 380px;
    }

}

@media screen and (max-width: 1003px){
    .main__title{
        font-size: 3rem;
        line-height: 3rem;
    }

    .main__nav--general{
        height: 340px;
    }

    .main__nav{
        margin: 0;
    }

    .article__text{
        max-width: 90%;
    }

    .article__title{
        max-width: 80%;
    }

    .footer__ul{
        padding-right: 5%;
    }

}

@media screen and (max-width: 829px){
    .main{
        -ms-grid-rows: 
        auto 0 auto 0 auto;
            grid-template-areas: 
        "nav nav"
        "articles articles"
        "footer footer";
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 0;
    }

    .main__nav--general{
        margin: 0;
    }

    .main__title{
        margin-top: 2.6rem;
        font-size: 5rem;
        line-height: 5rem;
    }

    .main__ul{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .main__ul--li{
        padding-right: 0.9rem;
    }

    .article__body{
        margin: 0;
    }

    footer{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

@media screen and (max-width: 541px){
    .main__ul{
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .main__ul > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .main__ul > *:nth-child(2){
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .main__ul > *:nth-child(3){
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .main__ul > *:nth-child(4){
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    .main__ul--li{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .article__text{
        font-size: 1.3rem
    }
}

@media screen and (max-width: 378px){
    .main__ul--li{
        padding-right: 0;
        font-size: 1.2rem;
    }

    .main__nav{
        width: 100%;
    }

    .article__text{
        font-size: 1.3rem;
    }
}

